* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    background-color: #3c3b3b;
    height: 60px;
    width: 100%;
}


nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    
}

nav ul li a {
    color: #e4dede;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}

li a:hover {
    background: rgba(88, 89, 88, 0.5);
    transition: .5s;
}

section.banner {
    background-image: url(https://i.pinimg.com/originals/6a/06/a5/6a06a52639def13ce2eb943ceb90d400.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 0;
    color: black;
    width: 100%;
}

.containerB {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.boxB.col1 h1 {
    font-size: 4.5em ;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 1; 

}

.banner h1,
.banner .btnbanner {
    font-family: 'Kanit', sans-serif;
}

.btnbanner {
    background-color: rgba(88, 89, 88, 0.5); /* Fondo transparente */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.btnbanner:hover {
    background-color: rgba(88, 89, 88, 0.8); /* Cambio de color de fondo al hacer hover */
}

.contenido {
    text-align: center; 
    padding: 2rem; 
    color: #4c4c4c; 
    background-color: #fff; 
    border-radius: 8px; 
    margin: 4rem auto; 
    width: 80%; 
}

/*Sección Servicios*/
.servicios {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    width: 90%;
    margin: 0 auto;
}



.boxS {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 55px 5px rgb(0 0 0 /6%);
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
}

.boxS img {
    width: 250px;
}

h3 {
    color: #4c4c4c;
    margin: 10px 0;
}

.boxS p {
    text-align: center;
}

/* Estilos para la sección Empresa */
.empresa {
    padding: 4rem 0;
    background-color: #f9f9f9;
}

.empresa-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de tarjeta */
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}



.empresa h2 {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.empresa-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem; /* Espacio entre el logo y el texto */
}


.empresa-logo {
    max-width: 290px;
    height: auto;
}



.empresa-text {
    max-width: 600px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    justify-content: center;
}



/* Sección Consejo */
.consejo-dia {
    padding: 4rem 0;
    background-color: #f9f9f9;

}

.consejo-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
}

.consejo-dia h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Kanit';

}

.consejo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
}

.consejo-img {
    max-width: 300px;
    height: auto;
}

.consejo-text {
    max-width: 600px;
    font-family: "Montserrat", sans-serif;
}

.consejo-text p {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #000000;
}


.eventos-container {
    font-family: 'Kanit', sans-serif;

    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.eventos-text {
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    margin: 20px auto;
}

.eventos-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
}

.eventos-content h2 {
    font-family: 'Kanit', sans-serif;
    margin-bottom: 20px;
}

.evento-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.evento-img:hover {
    transform: scale(1.05); /* Efecto de escala al hacer hover */
}


/* Estilos para la sección 'Comunícate con Nosotros' */
.comunicate {
    padding: 2rem 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.comunicate h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Kanit';

}

.comunicate-container {
    max-width: 80%;
    margin: 0 auto;
}

.tierra-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tierra-text {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 20px;
}

/* Estilos para la sección 'Preguntas Frecuentes' */
.preguntas {
    padding: 4rem 0;
    text-align: center;
}

.preguntas-container {
    max-width: 80%;
    margin: 0 auto;
}

.preguntas-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Kanit';
}

.preguntas-text {
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.preguntas-text p {
    margin-bottom: 10px;
}

/* Estilos para la sección 'Beneficios del Reciclaje' */
.reciclar {
    padding: 4rem 0;
    background-color: #f9f9f9;
    text-align: center;
}

.reciclar-container {
    max-width: 80%;
    margin: 0 auto;
}

.reciclar-container h2{
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Kanit';
}


.reciclar img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.reciclar-text {
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
}

/* Estilos para la sección 'Cómo Separar los Residuos' */
.residuos {
    padding: 4rem 0;
    text-align: center;
}

.residuos-container {
    max-width: 80%;
    margin: 0 auto;
}

.residuos-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Kanit';
}


.residuos img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.residuos-text {
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
}

/* Estilos para la sección 'IA' */
.ia {
    padding: 4rem 0;
    text-align: center;
}

.ia-container {
    max-width: 80%;
    margin: 0 auto;
}

.ia-text {
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    margin: 0 auto;
}

.ia-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
}

.ia-form form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
}

.ia-form label {
    font-family: 'Montserrat', sans-serif;
    color: #4c4c4c;
}

.ia-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.ia-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ia-form button[type="submit"]:hover {
    background-color: #45a049;
}

#respuesta-ia {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.formulario-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
}

.formulario-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Kanit', sans-serif;
    color: #4c4c4c;
}

.formulario-container form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.formulario-container label {
    font-family: 'Montserrat', sans-serif;
    color: #4c4c4c;
}

.formulario-container input[type="text"],
.formulario-container input[type="email"],
.formulario-container input[type="tel"],
.formulario-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.formulario-container textarea {
    resize: vertical;
}

.formulario-container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-container button[type="submit"]:hover {
    background-color: #45a049;
}
