* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    background: #313330;
    height: 60px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    
}

nav ul li a {
    color: #e4dede;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}

li a:hover {
    background: #475442;
    transition: .5s;
}

section.banner {
    background-image: url('https://i.pinimg.com/564x/6a/06/a5/6a06a52639def13ce2eb943ceb90d400.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 0;
    color: black;
    width: 100%;
}


.containerB {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.boxB.col1 h1 {
    font-size: 4.5em ;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 1; 

}

.banner h1,
.banner .btnbanner {
    font-family: 'Kanit', sans-serif;
}

.btnbanner {
    background: #6c6c6c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.btnbanner:hover {
    background: black;
}

.contenido {
    text-align: center; 
    padding: 2rem; 
    color: #4c4c4c; 
    background-color: #fff; 
    border-radius: 8px; 
    margin: 4rem auto; 
    width: 80%; 
}

/*Sección Servicios*/
.servicios {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    width: 90%;
    margin: 0 auto;
}



.boxS {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 55px 5px rgb(0 0 0 /6%);
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
}

.boxS img {
    width: 250px;
}

h3 {
    color: #4c4c4c;
    margin: 10px 0;
}

.boxS p {
    text-align: center;
}

/* Estilos para la sección Empresa */
.empresa {
    padding: 4rem 0;
    background-color: #f9f9f9;
}

.empresa-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de tarjeta */
    max-width: 80%;
    margin: 0 auto;
}

.empresa h2 {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

.empresa-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem; /* Espacio entre el logo y el texto */
}

.empresa-logo {
    max-width: 200px;
    height: auto;
}

.empresa-text {
    max-width: 600px;
    font-family: "Montserrat", sans-serif;
}

/* Sección Consejo */
.consejo-dia {
    padding: 4rem 0;
    background-color: #f9f9f9;

}

.consejo-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
}

.consejo-dia h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Kanit', sans-serif;

}

.consejo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
}

.consejo-img {
    max-width: 300px;
    height: auto;
}

.consejo-text {
    max-width: 600px;
    font-family: "Montserrat", sans-serif;
}

.consejo-text p {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #000000;
}
